<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Student Data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <ul>Name:
        <li>
            <p th:text="${student.name+' '+student.lastName }">Shiva Sarma </p>
        </li>
    </ul>
</div>
<div>

    <ul>Father Name:
        <li>
            <p th:text=${student.fatherName}>Bikash Bhadur Nepal </p>
        </li>
    </ul>
</div>

<ul>E-mail:
    <li>
        <p th:text=${student.email}>hello@gmail.com </p>
    </li>
</ul>
</div>
<ul>Date Of Birth:
    <li>
        <p th:text=${student.dob}>12-11-1919 </p>
    </li>
</ul>
</div>

<ul>Address:
    <li>
        <p th:text=${student.address}>Birtamode </p>
    </li>
</ul>
</div>
<div>
    <ul>Course Length:
        <li>
            <p th:text=${student.courseLength}>4 </p>
        </li>
    </ul>
</div>
<div>
    <ul>Year:
        <li>
            <p th:text=${student.year}> 1</p>
        </li>
    </ul>
</div>
</body>
</html>