<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show professor data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <ul>Name:
        <li>
            <p th:text="${professor.name+' '+professor.lastName }"> </p>
        </li>
    </ul>
</div>
<div>

    <ul>Father Name:
        <li>
            <p th:text=${professor.fatherName}>B </p>
        </li>
    </ul>
</div>

<ul>E-mail:
    <li>
        <p th:text=${professor.email}>B </p>
    </li>
</ul>
</div>
<div>
<ul>Date Of Birth:
    <li>
        <p th:text=${professor.dob}>B </p>
    </li>
</ul>
</div>
<div>
    <ul>Address:
        <li>
            <p th:text=${professor.address}>B </p>
        </li>
    </ul>
</div>
<div>

    <ul>Faculty:
            <li>
                <p th:text=${professor.faculty}>B </p>
            </li>
    </ul>
</div>
<div>
    <ul>University:
        <li>
            <p th:text=${professor.university}> </p>
        </li>
    </ul>
</div>
<div>
    <ul>Experience:
        <li>
            <p th:text=${professor.experience}> </p>
        </li>
    </ul>
</div>
</body>
</html>